*
head {
    position: relative;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace
  }
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
.navbar ul{
  list-style-type:none;
  background-color:rgb(11, 95, 11);
  font-weight: bolder;
  padding:0%
 

}
.navbar a{
  color: antiquewhite;
  text-decoration: none;
  padding: 15px;
  display:block;
  width: 495px;
  background-color: rgb(11, 95, 11);;

}
.navbar a:hover{
  background-color:rgb(141, 219, 141);
}
.navbar li{
  float:right;
}
  main {
    padding-top: 100px;
    text-align:center;
  }
  h1 {
    text-align: center;
    color: black;
  }
  img {
    position: relative;
    margin-bottom: 30px;
    left: 650px;
    display: block;
    height: 300px;
    width: 300px;
  }
  header {
      position: absolute;
      color: aliceblue;
  }
  p {
    text-align: center;
    color: black;
  }
  .topline {
    background-color:rgb(11, 95, 11);
    color:white
    border-bottom: 10px solid rgb(235, 188, 148);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    box-shadow:5px;

  }
  section{
    padding-top: 50px;
  }
  h2{
    background-color: peachpuff;
    padding-bottom: 20px;
    text-align: center;
    border: 20px;
    border-color: brown;
  }
  form {
  box-sizing: border-box;
  width: 300px;
  border: 3px solid #886e67;
  border-radius: 20px;
  align-content: center;
}

  .wrapper-main {
    color: black;
    background-color: peachpuff;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 5px;
    display: block;

  }

  form, label, input, button {
    align-items: center;
    align-content: center;
  }
  a href {
    text-align: center;
  }

  footer {
    background-color:rgb(11, 95, 11);
    height: auto;
    text-align: center;
    padding: 20px;
    color: white;


  }